.root {
  position: relative;
  width: 1440px;
  height: 4794px;
  align-items: flex-start;
  background-image: linear-gradient(180deg, #39289fff 0%, #422f9cff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  backdrop-filter: blur(7px);
}
.auth {
  position: absolute;
  top: 88vh;
  left: 11vw;
}
.kThatWeProduceForOurClients {
  color: #fff;
  font-size: 50px;
  line-height: 155.2%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 129px;
  top: 292px;
  width: 479.6292px;
  height: min-content;
  flex-direction: column;
}
.sportingMadeEasy {
  color: #e87d0e;
  font-size: 20px;
  line-height: 155.2%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 129px;
  top: 244px;
  width: 273px;
  height: min-content;
  flex-direction: column;
}
.aPlatformThatBringsTheNationTo {
  position: absolute;
  left: 129px;
  top: 428px;
  width: 527px;
  height: 101px;
  flex-direction: column;
}
.textBlock {
  color: #fff;
  font-size: 20px;
  line-height: 200%;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #fff;
  font-size: 20px;
  line-height: 200%;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.rectangle2 {
  position: absolute;
  left: 147px;
  top: 662px;
  width: 195px;
  height: 53px;
  border-radius: 40px;
  background-image: linear-gradient(96.6deg, #fa8305ff 0%, #fb9e3cff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.registerNow {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 192px;
  top: 676px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.joy_stick1 {
  position: absolute;
  left: 772px;
  top: 0;
  width: 806px;
  height: 761px;
  background-image:/* webpackIgnore: true */ url("assets/joy_stick1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.selectSportsEventsAcrossTheCou {
  color: #fff;
  font-size: 35px;
  line-height: 187.5%;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 307px;
  top: 1525px;
  width: 826px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.aLLOVERINDIA {
  color: #fff;
  font-size: 30px;
  line-height: 187.5%;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 147px;
  top: 1679px;
  width: 268.0569px;
  height: 40px;
  flex-direction: column;
}
.beAnywhereInIndiaAndBeAbleToPa {
  position: absolute;
  left: 147px;
  top: 1751px;
  width: 699px;
  height: 101px;
  flex-direction: column;
}
.textBlock3 {
  color: #fff;
  font-size: 16px;
  line-height: 187.5%;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 187.5%;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.group21 {
  position: absolute;
  left: 972px;
  top: 1831px;
  width: 196px;
  height: 154px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.rectangle4 {
  position: absolute;
  left: 147px;
  top: 1898px;
  width: 1146px;
  height: 462px;
  border-radius: 5px;
  background-color: #fff;
  background-image:/* webpackIgnore: true */ url("assets/rectangle4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.db4d123c4b390965f684f22d4bf138 {
  position: absolute;
  left: -25px;
  top: 1654px;
  width: 1567px;
  height: 881px;
}
.rectangle5 {
  position: absolute;
  left: 0;
  top: 2517px;
  width: 1440px;
  height: 881px;
  background-color: #000000a6, #0000008a;
  backdrop-filter: blur(2px);
}
.whatWeDoo {
  color: #fff;
  font-size: 40px;
  line-height: 187.5%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 307px;
  top: 2616px;
  width: 826px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.accessToAllSportsEvents {
  color: #fea250;
  font-size: 22px;
  line-height: 187.5%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 90px;
  top: 3000px;
  width: 220px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.arrow1 {
  transform-origin: top left;
  position: absolute;
  left: 211px;
  top: 3075px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
.group48 {
  position: absolute;
  left: 168px;
  top: 2905px;
  width: 65px;
  height: 65px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.arrow2 {
  position: absolute;
  left: 537px;
  top: 3266px;
  width: 21px;
  height: 21px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.personalisedAlerts {
  color: #fea250;
  font-size: 22px;
  line-height: 187.5%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 784px;
  top: 3000px;
  width: 202px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.arrow3 {
  transform-origin: top left;
  position: absolute;
  left: 889px;
  top: 3071px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
.group50 {
  position: absolute;
  left: 846px;
  top: 2901px;
  width: 65px;
  height: 65px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.getExclusiveEventInfo {
  position: absolute;
  left: 1088px;
  top: 3002px;
  width: 257px;
  height: 45px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock5 {
  color: #fea250;
  font-size: 22px;
  line-height: 187.5%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #fea250;
  font-size: 22px;
  line-height: 187.5%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.arrow4 {
  transform-origin: top left;
  position: absolute;
  left: 1218px;
  top: 3048px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
.group51 {
  position: absolute;
  left: 1176px;
  top: 2901px;
  width: 65px;
  height: 65px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.rectangle21 {
  position: absolute;
  left: 0;
  top: 3391px;
  width: 1440px;
  height: 1700px;
  background-image: linear-gradient(155.7deg, #3c2a9eff 0%, #3b2a9fff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.group {
  position: absolute;
  left: 1230px;
  top: 3270.9999px;
  width: 21px;
  height: 16.0421px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.group2 {
  position: absolute;
  left: 878px;
  top: 3268.9999px;
  width: 21px;
  height: 16.0421px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.group3 {
  position: absolute;
  left: 194px;
  top: 3268.9999px;
  width: 21px;
  height: 16.0421px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.rectangle22 {
  position: absolute;
  left: 650px;
  top: 4289px;
  width: 139px;
  height: 57px;
  border-radius: 10px;
  background-color: #ffffff1c;
}
.sEEALL {
  color: #fff;
  font-size: 20px;
  line-height: 187.5%;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 680px;
  top: 4299px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.currentlyTrendingGames {
  color: #fff;
  font-size: 31px;
  line-height: 187.5%;
  font-weight: bold;
  font-family: Rubik, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 147px;
  top: 893px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle222 {
  position: absolute;
  left: 1154px;
  top: 893px;
  width: 139px;
  height: 57px;
  border-radius: 10px;
  background-color: #ffffff1c;
}
.sEEALL2 {
  color: #fff;
  font-size: 20px;
  line-height: 187.5%;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 1184px;
  top: 903px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle23 {
  position: absolute;
  left: 129px;
  top: calc(50% - 1250.5px);
  width: 251px;
  height: 277px;
  border-radius: 20px;
  background-image:/* webpackIgnore: true */ url("assets/rectangle23.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}
.rectangle24 {
  position: absolute;
  left: 445px;
  top: 1008px;
  width: 252px;
  height: 277px;
  border-radius: 20px;
  background-image:/* webpackIgnore: true */ url("assets/rectangle24.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle25 {
  position: absolute;
  left: 743px;
  top: 1008px;
  width: 252px;
  height: 277px;
  border-radius: 20px;
  background-image:/* webpackIgnore: true */ url("assets/rectangle25.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle26 {
  position: absolute;
  left: 1042px;
  top: 1008px;
  width: 251px;
  height: 277px;
  border-radius: 20px;
  background-image:/* webpackIgnore: true */ url("assets/rectangle26.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cricket {
  color: #fff;
  font-size: 22px;
  line-height: 187.5%;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 221px;
  top: 1310px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fire1 {
  position: absolute;
  left: 187px;
  top: 1318px;
  width: 25px;
  height: 25px;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.hockey {
  color: #fff;
  font-size: 22px;
  line-height: 187.5%;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 520px;
  top: 1310px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fire12 {
  position: absolute;
  left: 486px;
  top: 1318px;
  width: 25px;
  height: 25px;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.khoKho {
  color: #fff;
  font-size: 22px;
  line-height: 187.5%;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 818px;
  top: 1310px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fire13 {
  position: absolute;
  left: 784px;
  top: 1318px;
  width: 25px;
  height: 25px;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.football {
  color: #fff;
  font-size: 22px;
  line-height: 187.5%;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 1124px;
  top: 1310px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.fire14 {
  position: absolute;
  left: 1090px;
  top: 1318px;
  width: 25px;
  height: 25px;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.preScene61 {
  position: absolute;
  left: 461px;
  top: -811px;
  width: 822px;
  height: 462px;
  background-image:/* webpackIgnore: true */ url("assets/preScene61.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ourRecentProjects {
  color: #fff;
  font-size: 30px;
  line-height: 187.5%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 567px;
  top: 3539px;
  width: 305px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.loremIpsumIsSimplyDummyTextOfT {
  color: #fff;
  font-size: 14px;
  line-height: 187.5%;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 471px;
  top: 3610px;
  width: 497px;
  height: 57px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle15 {
  position: absolute;
  left: 135px;
  top: 3738px;
  width: 382px;
  height: 223px;
  border-radius: 20px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/rectangle15.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle16 {
  position: absolute;
  left: 544px;
  top: 3738px;
  width: 382px;
  height: 223px;
  border-radius: 20px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/rectangle16.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle17 {
  position: absolute;
  left: 953px;
  top: 3738px;
  width: 352px;
  height: 223px;
  border-radius: 20px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/rectangle17.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle18 {
  position: absolute;
  left: 408px;
  top: 3994px;
  width: 401px;
  height: 223px;
  border-radius: 20px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/rectangle18.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle20 {
  position: absolute;
  left: 836px;
  top: 3994px;
  width: 469px;
  height: 223px;
  border-radius: 20px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/rectangle20.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle19 {
  position: absolute;
  left: 135px;
  top: 3994px;
  width: 246px;
  height: 223px;
  border-radius: 20px;
  background-color: #c4c4c4;
  background-image:/* webpackIgnore: true */ url("assets/rectangle19.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle212 {
  position: absolute;
  left: -0.9993px;
  top: 4418px;
  width: 1440px;
  height: 376px;
  background-color: #070707;
}
.loremIpsumIsSimplyDummyTextOfT2 {
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 100.0007px;
  top: 4543px;
  width: 372px;
  height: 58px;
  flex-direction: column;
}
.zeuxPortfolioCareersContactUs {
  position: absolute;
  left: 550.0007px;
  top: 4538px;
  width: 372px;
  height: 117px;
  flex-direction: column;
}
.textBlock7 {
  color: #fff;
  font-size: 16px;
  line-height: 186.3%;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 186.3%;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 186.3%;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #fff;
  font-size: 16px;
  line-height: 186.3%;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.Logo {
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 100.0007px;
  top: 4626px;
  width: 196px;
  height: 23px;
  flex-direction: column;
}
.group12 {
  position: absolute;
  left: 1135.0007px;
  top: 4614px;
  width: 184px;
  height: 34px;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.aboutUs {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 550.0007px;
  top: 4497px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.loremIpsumIsSimplyDummyTextOfT3 {
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 770.0007px;
  top: 4543px;
  width: 282px;
  height: 76px;
  flex-direction: column;
}
._90889097890 {
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 770.0007px;
  top: 4630px;
  width: 141px;
  height: 28px;
  flex-direction: column;
}
.contactUs {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 770.0007px;
  top: 4497px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.line1 {
  position: absolute;
  left: -1px;
  top: 4710.2px;
  width: 1440.0013px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 0.8px #d2d2d2;
  margin-bottom: -0.8px;
}
.copyright2022ProdesignerAllRig {
  color: #fff;
  font-size: 13px;
  line-height: 190.6%;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 587px;
  top: 4740px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.lOGO {
  color: #fff;
  font-size: 24px;
  line-height: 153.5%;
  font-weight: 800;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 100px;
  top: 4491px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.lOGO2 {
  color: #fff;
  font-size: 29px;
  line-height: 153.5%;
  font-weight: 800;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 55px;
  top: 37px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle277 {
  position: absolute;
  left: 656px;
  top: 0;
  width: 784px;
  height: 773px;
  background-color: #3a2aa0;
}
.frame1 {
  position: absolute;
  left: 633px;
  top: 65px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 88px;
}
.featured {
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 90px;
  height: 24px;
  flex-direction: column;
}
.events {
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 74.8463px;
  height: 24.2009px;
  flex-direction: column;
}
.community {
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 95px;
  height: 24px;
  flex-direction: column;
}
.about {
  color: #fff;
  font-size: 16px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 85px;
  height: 24px;
  flex-direction: column;
}
.rectangle1 {
  position: absolute;
  left: 85.1389%;
  right: 5.7103%;
  top: 1.0962%;
  bottom: 98.1356%;
  border-radius: 6px;
  background-color: #fa9021;
}
.contactUs2 {
  color: #fff;
  font-size: 13px;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 87.0423%;
  right: 7.6869%;
  top: 1.2836%;
  bottom: 98.3417%;
  flex-direction: column;
}
.rectangle27 {
  position: absolute;
  left: 634px;
  top: 98px;
  width: 31px;
  height: 4px;
  border-radius: 20px;
  background-color: #dc7000;
}
.rectangle28 {
  position: absolute;
  left: 668px;
  top: 98px;
  width: 5px;
  height: 4px;
  border-radius: 20px;
  background-color: #dc7000;
}
.cricketCuate {
  position: absolute;
  left: 740px;
  top: 210px;
  width: 519.9998px;
  height: 569.1874px;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.group49 {
  position: absolute;
  left: 515px;
  top: 2901px;
  width: 65px;
  height: 65px;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.realTimeUpdates {
  position: absolute;
  left: 445px;
  top: 3002px;
  width: 204px;
  height: 25px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock11 {
  color: #fea250;
  font-size: 22px;
  line-height: 187.5%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.textBlock12 {
  margin-top: 0;
  color: #fea250;
  font-size: 22px;
  line-height: 187.5%;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
.thisIsHowWeHelpYouFindAndParti {
  color: #fff;
  font-size: 20px;
  line-height: 187.5%;
  font-family: Poppins, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  position: absolute;
  left: 371px;
  top: 2728px;
  width: 749px;
  height: 38px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
